openapi: 3.2.0
info:
  title: Aeronautic Product Release US VFR Wall Planning Chart API
  description: FAA Aeronautic chart publication download API
  contact:
    name: Aeronautic Product Release API (APRA)
    url: http://www.faa.gov/got_data
    email: edai-aero@faa.gov
  license:
    name: Creative Commons 0 (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  version: 1.4.0
servers:
- url: https://external-api.faa.gov/apra
tags:
- name: US VFR Wall Planning Chart
paths:
  /vfr/wallplanning/chart:
    get:
      tags:
      - US VFR Wall Planning Chart
      summary: Get WallPlan Chart release information with download link by edition and format
      operationId: getProductRelease
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      - name: format
        in: query
        description: Format of the requested chart. TIFF format contains georeferenced charts contained within a zip archive and PDF is non-georeferenced charts. If omitted, the default PDF format is returned.
        schema:
          type: string
          enum:
          - tiff
          - pdf
          default: pdf
      - name: geoname
        in: query
        description: 'Geographical area to query.  '
        schema:
          type: string
          enum:
          - US
          - AK
          default: US
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
  /vfr/wallplanning/info:
    get:
      tags:
      - US VFR Wall Planning Chart
      summary: Get WallPlan edition date and edition number by edition type and format
      operationId: getProductEdition
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition information is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      - name: format
        in: query
        description: Format of the requested chart. TIFF format contains georeferenced charts in a zip archive file and PDF is non-georeferenced charts. If omitted, the default PDF format is used.
        schema:
          type: string
          enum:
          - tiff
          - pdf
          default: pdf
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
x-original-swagger-version: '2.0'
