openapi: 3.2.0
info:
  title: Aeronautic Product Release Sectional Charts API
  description: FAA Aeronautic chart publication download API
  contact:
    name: Aeronautic Product Release API (APRA)
    url: http://www.faa.gov/got_data
    email: edai-aero@faa.gov
  license:
    name: Creative Commons 0 (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  version: 1.4.0
servers:
- url: https://external-api.faa.gov/apra
tags:
- name: Sectional Charts
paths:
  /vfr/sectional/chart:
    get:
      tags:
      - Sectional Charts
      summary: Get Sectional Chart download link by edition, format, and geoname
      description: TIFF formatted files are geo-referenced while PDF format is not geo-referenced. Geoname is a city for which the chart is requested. Valid cities can be found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > VFR Charts > Sectional Chart tab
      operationId: getSectionalChart
      parameters:
      - name: geoname
        in: query
        description: Geoname which is a city for which the chart is requested. Valid cities can be found on the FAA public web site.
        required: true
        schema:
          type: string
          enum:
          - Albuquerque
          - Anchorage
          - Atlanta
          - Bethel
          - Billings
          - Brownsville
          - Cape Lisburne
          - Charlotte
          - Cheyenne
          - Chicago
          - Cincinnati
          - Cold Bay
          - Dallas-Ft Worth
          - Dawson
          - Denver
          - Detroit
          - Dutch Harbor
          - El Paso
          - Fairbanks
          - Great Falls
          - Green Bay
          - Halifax
          - Hawaiian Islands
          - Houston
          - Jacksonville
          - Juneau
          - Kansas City
          - Ketchikan
          - Klamath Falls
          - Kodiak
          - Lake Huron
          - Las Vegas
          - Los Angeles
          - McGrath
          - Memphis
          - Miami
          - Montreal
          - New Orleans
          - New York
          - Nome
          - Omaha
          - Phoenix
          - Point Barrow
          - Salt Lake City
          - San Antonio
          - San Francisco
          - Seattle
          - Seward
          - St Louis
          - Twin Cities
          - Washington
          - Western Aleutian Islands
          - Whitehorse
          - Wichita
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      - name: format
        in: query
        description: Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.
        schema:
          type: string
          enum:
          - tiff
          - pdf
          default: pdf
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
  /vfr/sectional/info:
    get:
      tags:
      - Sectional Charts
      summary: Get Sectional Chart edition date and edition number by edition type and geoname
      description: Geoname is a city for which the chart is requested. Valid cities can be found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > VFR Charts > Sectional Chart tab
      operationId: getSectionalInfo
      parameters:
      - name: geoname
        in: query
        description: Geoname which is a city for which the chart is requested. Valid cities can be found on the FAA public web site.
        required: true
        schema:
          type: string
          enum:
          - Albuquerque
          - Anchorage
          - Atlanta
          - Bethel
          - Billings
          - Brownsville
          - Cape Lisburne
          - Charlotte
          - Cheyenne
          - Chicago
          - Cincinnati
          - Cold Bay
          - Dallas-Ft Worth
          - Dawson
          - Denver
          - Detroit
          - Dutch Harbor
          - El Paso
          - Fairbanks
          - Great Falls
          - Green Bay
          - Halifax
          - Hawaiian Islands
          - Houston
          - Jacksonville
          - Juneau
          - Kansas City
          - Ketchikan
          - Klamath Falls
          - Kodiak
          - Lake Huron
          - Las Vegas
          - Los Angeles
          - McGrath
          - Memphis
          - Miami
          - Montreal
          - New Orleans
          - New York
          - Nome
          - Omaha
          - Phoenix
          - Point Barrow
          - Salt Lake City
          - San Antonio
          - San Francisco
          - Seattle
          - Seward
          - St Louis
          - Twin Cities
          - Washington
          - Western Aleutian Islands
          - Whitehorse
          - Wichita
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition information is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
x-original-swagger-version: '2.0'
