openapi: 3.2.0
info:
  title: Aeronautic Product Release NASR 28 Day Subscription API
  description: FAA Aeronautic chart publication download API
  contact:
    name: Aeronautic Product Release API (APRA)
    url: http://www.faa.gov/got_data
    email: edai-aero@faa.gov
  license:
    name: Creative Commons 0 (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  version: 1.4.0
servers:
- url: https://external-api.faa.gov/apra
tags:
- name: NASR 28 Day Subscription
paths:
  /nfdc/nasr/chart:
    get:
      tags:
      - NASR 28 Day Subscription
      summary: Get the National Flight Data Center NASR 28 day subscription file
      operationId: getNASRSubscription
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
  /nfdc/nasr/info:
    get:
      tags:
      - NASR 28 Day Subscription
      summary: Get the National Flight Data Center NASR 28 day subscription file edition information
      operationId: getNASREdition
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
x-original-swagger-version: '2.0'
