openapi: 3.2.0
info:
  title: Aeronautic Product Release Gulf of Mexico IFR Enroute Chart API
  description: FAA Aeronautic chart publication download API
  contact:
    name: Aeronautic Product Release API (APRA)
    url: http://www.faa.gov/got_data
    email: edai-aero@faa.gov
  license:
    name: Creative Commons 0 (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  version: 1.4.0
servers:
- url: https://external-api.faa.gov/apra
tags:
- name: Gulf of Mexico IFR Enroute Chart
paths:
  /enroute/gom/chart:
    get:
      tags:
      - Gulf of Mexico IFR Enroute Chart
      summary: Get Gulf of Mexico IFR enroute chart edition date, edition number, and product download URL
      description: The Gulf of Mexico IFR enroute chart is distributed as a zip file that contains multiple PDF charts.
      operationId: getGOMRelease
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      - name: format
        in: query
        description: Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.
        schema:
          type: string
          enum:
          - tiff
          - pdf
          default: pdf
      - name: geoname
        in: query
        description: Requested Gulf of Mexico geographic area. If omitted, both west and central links are returned.
        schema:
          type: string
          enum:
          - west
          - central
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
  /enroute/gom/info:
    get:
      tags:
      - Gulf of Mexico IFR Enroute Chart
      summary: Get Gulf of Mexico IFR enroute chart edition date and edition number
      description: If a geographic area is not supplied, both central and west product edition information is returned.
      operationId: getGOMEdition
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      - name: geoname
        in: query
        description: Requested Gulf of Mexico geographic area. If omitted, both west and central are returned.
        schema:
          type: string
          enum:
          - west
          - central
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
x-original-swagger-version: '2.0'
