openapi: 3.2.0
info:
  title: Aeronautic Product Release IFR Planning Charts API
  description: FAA Aeronautic chart publication download API
  contact:
    name: Aeronautic Product Release API (APRA)
    url: http://www.faa.gov/got_data
    email: edai-aero@faa.gov
  license:
    name: Creative Commons 0 (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  version: 1.4.0
servers:
- url: https://external-api.faa.gov/apra
tags:
- name: IFR Planning Charts
paths:
  /ifr/planning/chart:
    get:
      tags:
      - IFR Planning Charts
      summary: Get IFR planning download link by edition and format
      description: TIFF formatted files are geo-referenced while PDF format is not geo-referenced.  The specific chart returned by this operation is the IFR PLANNING chart found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > IFR Charts and DERS > Planning tab
      operationId: getIfrPlanningChart
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      - name: format
        in: query
        description: Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default PDF format is returned.
        schema:
          type: string
          enum:
          - tiff
          - pdf
          default: pdf
      - name: geoname
        in: query
        description: Geographic area to query.  North Atlantic (NA), Pacific Ocean (PO), Western Atlantic (WAT), or United States (US)
        schema:
          type: string
          enum:
          - NA
          - PO
          - WAT
          - US
          default: US
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
  /ifr/planning/info:
    get:
      tags:
      - IFR Planning Charts
      summary: Get Planning Chart edition date and edition number by edition type
      operationId: getIfrPlanningInfo
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition information is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
x-original-swagger-version: '2.0'
