openapi: 3.2.0
info:
  title: Aeronautic Product Release Grand Canyon VFR Chart API
  description: FAA Aeronautic chart publication download API
  contact:
    name: Aeronautic Product Release API (APRA)
    url: http://www.faa.gov/got_data
    email: edai-aero@faa.gov
  license:
    name: Creative Commons 0 (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  version: 1.4.0
servers:
- url: https://external-api.faa.gov/apra
tags:
- name: Grand Canyon VFR Chart
paths:
  /vfr/grandcanyon/chart:
    get:
      tags:
      - Grand Canyon VFR Chart
      summary: Get VFR Grand Canyon chart edition information and download link
      operationId: getGrandCanyonRelease
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
  /vfr/grandcanyon/info:
    get:
      tags:
      - Grand Canyon VFR Chart
      summary: Get VFR edition date and edition number by edition type of current or next
      operationId: getGrandCanyonEdition
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition information is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
x-original-swagger-version: '2.0'
