openapi: 3.2.0
info:
  title: Aeronautic Product Release Oceanic Route Charts API
  description: FAA Aeronautic chart publication download API
  contact:
    name: Aeronautic Product Release API (APRA)
    url: http://www.faa.gov/got_data
    email: edai-aero@faa.gov
  license:
    name: Creative Commons 0 (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  version: 1.4.0
servers:
- url: https://external-api.faa.gov/apra
tags:
- name: Oceanic Route Charts
paths:
  /ifr/oceanic/chart:
    get:
      tags:
      - Oceanic Route Charts
      summary: Get Oceanic Route Chart download link by edition, format, and geoname
      description: 'TIFF formatted files are geo-referenced while PDF format is not geo-referenced. Geoname is a geographic area for which the chart is requested. Valid geographic names are Pacific (PORC), North Atlantic (NARC), and Wester Atlantic (WATRS) '
      operationId: getOceanicRouteChart
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      - name: format
        in: query
        description: Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.
        schema:
          type: string
          enum:
          - tiff
          - pdf
          default: pdf
      - name: geoname
        in: query
        description: A geographic area for which the chart is requested
        required: true
        schema:
          type: string
          enum:
          - NARC
          - PORC
          - WATRS
          default: PORC
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
  /ifr/oceanic/info:
    get:
      tags:
      - Oceanic Route Charts
      summary: Get Oceanic Route Chart edition information by edition type
      description: All oceanic charts are released on a regular 56 day cycle. The format and geographic name are not necessary to obtain edition information.
      operationId: getOceanicRouteEdition
      parameters:
      - name: edition
        in: query
        description: Requested product edition. If omitted, the default current edition information is returned.
        schema:
          type: string
          enum:
          - current
          - next
          default: current
      responses:
        '200':
          description: OK
          content: {}
        '400':
          description: Illegal arguments provided to service. One or more of the service parameter values is invalid
          content: {}
        '404':
          description: Requested edition has not been released for download or could not be found on the FAA aeronav web site.
          content: {}
        '500':
          description: Internal service error occurred which prevented a valid response from being returned.
          content: {}
x-original-swagger-version: '2.0'
